    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Idéhub</h2>
              <br/>
              <p>Vi investerer tid og energi i prosjekter vi har tro på!</p> 

              <p>Bak døren hos oss finner du en gjeng likesinnende utviklere med bred erfaring fra flere digitale bransjer. Har du et teknisk prosjekt du vil gjennomføre, men ikke helt vet hvor du skal begynne i den digitale verden, er det bare å ta kontakt.</p> 

              <p>Idéhubs unike konsept er at vi ønsker å investere tid og energi i form av utvikling og digital kompetanse. Alt vi ber om i retur er at du selv leverer den gode kompetansen du innehar om idéen, og slik kan vi sammen danne et godt partnerskap rundt et spennende prosjekt.</p>
              <br/>
            </div>
        </div>
    </section>
